
<mat-toolbar color="primary">
  <span><a [routerLink]="['/']" routerLinkActive="mat-accent">SM Reviews Tracker</a></span>

  <ul>
    <li>
      <a mat-button [routerLink]="['/social-media-dashboard']">Social Media Dashboard</a>
    </li>
  </ul>

  <ul>
    <li>
      <a mat-button [routerLink]="['/smx-feed']">Feed Report</a>
    </li>
  </ul>

  <ul>
    <li>
      <a mat-button [routerLink]="['/smx-search']">Search Report</a>
    </li>
  </ul>

  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button [routerLink]="['/review-list']">Review List</a>
    </li>
  </ul>
  </mat-toolbar>
