<mat-card>
  <h2>Top Reviews</h2>
  <mat-tab-group >
    <mat-tab *ngFor="let item of items" [label]="item.network">
      <mat-list>
        <mat-list-item *ngFor="let review of item.reviews">
          <img  matListAvatar  src="https://support.plymouth.edu/kb_images/Yammer/default.jpeg">
          <span matLine>{{review.username}}</span>
          <p matLine>{{ review.review }}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>
