.mat-grid-tile{
  border: 1px solid #ebebe0;
  border-radius: 10px;
}
/* .mat-grid-tile .mat-figure {
  flex-direction: column;
}
.mat-card[_ngcontent-c6] {
  clear: both;
} */


.mat-spinner
{
  width: 100%;
}
mat-list-item{
  text-align: center;
}

.custom-grid {
  float: left;
  width: 100%;
}
.custom-grid .grid-item {
  float: left;
  width: 24%;
  margin: 0 0.5%;
  background: red;
  border-radius: 10px
}
